<template>
    <n-layout position="absolute">
        <n-layout-header>
            <div class="bg-gradient-to-tl from-emerald-400 to-emerald-600 p-4">
                <div class="flex flex-row gap-4 container mx-auto items-center">
                    <div class="flex-1"></div>
                    <div class="flex-1 text-white">
                        <div class="flex gap-4 items-center">
                            <div class="flex-initial"><img src="/images/logo.png" class="w-14"></div>
                            <div class="flex-initial text-center">
                                <div class="text-lg font-medium">Record Management System</div>
                                <div class="font-medium">San Bernabe, Maddela, Quirino</div>
                            </div>
                            <div class="flex-initial"><img src="/images/logo1.png" class="w-14"></div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="flex flex-row gap-2 justify-end">
                            <div>
                                <n-popover placement="bottom-end" trigger="click">
                                    <template #trigger>
                                        <n-button type="info" color="#fff" ghost>{{ user.username }}</n-button>
                                    </template>
                                    <n-menu :options="userMenu" :indent="20" @update:value="menuSelect"/>
                                </n-popover>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" style="top: 87px; background: #f3f4f6 !important;">
            <div class="relative h-full container mx-auto">
                <n-layout has-sider position="absolute">
                    <n-layout-sider class="py-4">
                        <div class="mb-2 px-2">
                            <n-button type="info" style="width:100%" @click="modalPrintReport = true">Print Report</n-button>
                        </div>
                        <n-menu :options="menu" :value="selected" :default-expand-all="true" :indent="20" @update:value="menuSelect"/>
                    </n-layout-sider>
                    <n-layout-content class="py-4 pl-8">
                        <router-view></router-view>
                    </n-layout-content>
                </n-layout>
            </div>
        </n-layout>
    </n-layout>

    <n-modal :mask-closable="false" v-model:show="modalUserUsername" style="width: 500px;" title="Edit Username" preset="card">
        <UpdateUserUsername @cancel="modalUserUsername = false" @success="modalUserUsername = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalUserPassword" style="width: 500px;" title="Change Password" preset="card">
        <UpdateUserPassword @cancel="modalUserPassword = false" @success="modalUserPassword = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalPrintReport" style="width: 500px;" title="Print Report" preset="card">
        <PrintReports @cancel="modalPrintReport = false" @success="modalPrintReport = false"/>
    </n-modal>
</template>
<script>
import { h, resolveComponent } from 'vue'
import { mapState } from 'vuex'
import axios from 'axios'
import UpdateUserUsername from '~/components/admin/forms/UpdateUserUsername.vue'
import UpdateUserPassword from '~/components/admin/forms/UpdateUserPassword.vue'
import PrintReports from '~/components/admin/forms/PrintReports.vue'

const renderLabel = (toName, label, params={}) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName, params } },
        { default: () => label }
    )
}

export default {
    components: { UpdateUserUsername, UpdateUserPassword, PrintReports },
    async created() {
        const { data } = await axios.get('/api/address')
        this.$store.commit('setAddress', data)
    },
    data() {
        return {
            userMenu: [
                {
                    label: 'Edit Username',
                    key: 'edit-username'
                },{
                    label: 'Change Password',
                    key: 'change-password'
                },{
                    label: 'Logout',
                    key: 'logout'
                }
            ],
            modalUserUsername: false,
            modalUserPassword: false,
            modalPrintReport: false
        }
    },
    methods: {
        menuSelect(key) {
            switch (key) {
                case 'edit-username':
                    this.modalUserUsername = true
                    break;

                case 'change-password':
                    this.modalUserPassword = true
                    break;

                case 'logout':
                    window.location.replace('/logout')
                    break;
            }
        }
    },
    computed: {
        menu () {
            const transactions = Object.keys(window.$documentTypes).map(el => {
                return {
                    label: () => renderLabel('transaction-document', window.$documentTypes[el], {type:el}),
                    key: `transaction-document-${el}`
                }
            })

            const menu = [
                {
                    label: () => renderLabel('home', 'Home'),
                    key: 'home',
                },{
                    label: () => renderLabel('residents', 'Residents'),
                    key: 'residents',
                },{
                    label: 'Transactions',
                    key: 'transactions',
                    children: [
                        ...transactions,
                        {
                            label: () => renderLabel('transaction-summon', 'Summon'),
                            key: 'transaction-summon'
                        },{
                            label: () => renderLabel('transaction-material', 'Borrowed Materials'),
                            key: 'transaction-material'
                        }
                    ]
                }
            ]

            if (this.user.role != 'official') menu.push({
                label: () => renderLabel('officials', 'Barangay Officials'),
                key: 'officials',
            })

            if (this.user.is_super) menu.push({
                label: () => renderLabel('administrators', 'Administrators'),
                key: 'administrators',
            })

            return menu
        },
        selected() {
            const { name, params } = this.$route
            if (name == 'resident') return 'residents'
            if (name == 'transaction-document') return `transaction-document-${params.type}`
            return name
        },
        ...mapState({
            user: state => state.user
        })
    }
}
</script>