<template>
    <content-layout-simple title="Home">
        <n-card size="small">
            <div class="flex flex-col gap-4">
                <div><img src="/images/homepg.jpg" class="w-full"></div>

                <div>
                    <div class="text-lg text-center font-medium mb-2 uppercase">Brief History of the Barangay</div>
                    <p class="text-justify indent-10">
                        In the early 1930’s san Bernabe was a sitio of barangay Villa Hermosa. The sitio was named in honor to the first man who stepped 
                        and made resident in the land. Bernabe Ramos supposedly was the first man to establish in this barangay followed by the families 
                        of Angel Basug, Hipolito Mamaclay, Doming Domingo, and Jose Miguel. Then immediately comes in the early 1940’s the arrival of 
                        another migrants from Ilocos Province, headed by Liberato Maximo, Candido Tungpalan, and Remigio Fiesta then Mrs. Jovita Ramos Ancheta, 
                        at that time Tenyente del Baryo was Aquilino Ramos until the outbreak of World War II and was succeeded by Martin Maximo, until such then , 
                        time has come that barangay San Bernabe was formally declared in 1951. San bernabe has a total area of 809 hectares, 
                        farming is the major source of living in the barangay. As year pass by , the progress of the barangay was manifested through the unified 
                        efforts of the people with the leadership of the different sets of officials after World War II such as Alfredo Norberte, 
                        Gregorio Ramos ( year 1951-1956) , Herminigildo Basug, 1972-1973 (acting kapitan ) Faustino Mamaclay 1974-1985, Cerilo Ancheta 1985- 1991, 
                        Danilo Ville 1991-1996, who become a b c President of Maddela Ruben Maximo 1997-2997, Larry Norberte 2007-2016 also become ABC president 
                        of Maddela Leonardo Pimentel 2016- 2018 (Acting kapitan), and at Present Louie B. Estrella.
                    </p>
                </div>

                <div>
                    <div class="text-lg text-center font-medium mb-2 uppercase">Vision</div>
                    <p class="text-justify indent-10">
                        "Be a role model barangay in the implementation of various programs and delivery of basic services and to have a peaceful, 
                        god-fearing and progressive community."
                    </p>
                </div>

                <div>
                    <div class="text-lg text-center font-medium mb-2 uppercase">Mission</div>
                    <p class="text-justify indent-10">
                        Promote livelihood projects, better education, improve yields of production to agricultural products and accessible needs for farmers. 
                        Conserving and protecting our environment and natural resources, and ensuring peoples’ participation in planning, 
                        implementing and discussion making.
                    </p>
                </div>
            </div>
        </n-card>
    </content-layout-simple>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
export default {
    components: { ContentLayoutSimple }
}
</script>