<template>
    <content-layout title="Barangay Officials"
        :loading="loading"
        :empty="officials.length >= 1 ? false : true"
        :page-count="pageCount"
        search-placeholder="Search barangay officials"
    >
        <template #header-right>
            <n-button type="info" @click="officialModal = true">Add Barangay Official</n-button>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Username</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(official, i) in officials" :key="i">
                    <td>{{ official.fullname }}</td>
                    <td>{{ official.position_str }}</td>
                    <td>{{ official.username }}</td>
                    <td>{{ moment(official.created_at).format('LLL') }}</td>
                    <td>{{ moment(official.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <n-button @click="officialModalEdit = true, officialModalData = official">Edit</n-button>
                    </th>
                </tr>
            </tbody>
        </n-table>
    </content-layout>

    <n-modal :mask-closable="false" v-model:show="officialModal" style="width: 600px;" title="Add Barangay Official" preset="card">
        <UpsertOfficial @cancel="officialModal = false" @success="officialModal = false, getOfficials()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="officialModalEdit" style="width: 600px;" title="Edit Barangay Official" preset="card">
        <UpsertOfficial v-model="officialModalData" @cancel="officialModalEdit = false" @success="officialModalEdit = false"/>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertOfficial from '~/components/admin/forms/UpsertOfficial.vue'
import moment from 'moment'
export default {
    components: { ContentLayout, UpsertOfficial },
    data() {
        return {
            moment,
            officials: [],
            pageCount: 1,
            loading: false,

            officialModal: false,
            officialModalEdit: false,
            officialModalData: {}
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getOfficials()
        },{ immediate: true })
    },
    methods: {
        async getOfficials() {
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/officials`, { params })
            this.officials = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    }
}
</script>