<template>
    <content-layout-simple :title="resident.fullname" :loading="loading">
        <template #header-left>
            <n-button @click="$router.back()">Back</n-button>
        </template>

        <template #header-right>
            <n-button tag="a" :href="`/print/residents/${resident.id}`" target="_blank" type="info">Print Resident</n-button>
        </template>

        <div class="flex flex-col gap-4">
            <div class="text-sm text-gray-600 flex flex-row gap-4">
                <div>Date Created: <b>{{ moment(resident.created_at).format('LLL') }}</b></div>
                <div>Last Modified: <b>{{ moment(resident.updated_at).format('LLL') }}</b></div>
            </div>

            <div class="flex flex-col md:flex-row gap-4 items-center">
                <div>
                    <!-- Photo -->
                    <UpdatePhoto :resident-id="resident.id" v-model="resident.photo" />
                </div>
                <div class="flex-1">
                    <!-- General Information -->
                    <n-card size="small" title="General Information">
                        <template #header-extra>
                            <n-button type="info" @click="modalResident = true">Edit Information</n-button>
                        </template>

                        <div class="flex flex-col gap-4">
                            <profile-description :title="resident.fullname" description="Name"/>
                            <div class="flex flex-row gap-4">
                                <profile-description class="flex-1" :title="resident.gender_str" description="Gender"/>
                                <profile-description class="flex-1" :title="resident.civil_status_str" description="Civil Status"/>
                                <profile-description class="flex-1" :title="moment(resident.bday).format('LL')" description="Birthdate"/>
                                <profile-description class="flex-1" :title="resident.age" description="Age"/>
                                <profile-description class="flex-1" :title="resident.years_resided" description="Years Resided"/>
                            </div>
                            <profile-description :title="resident.address" description="Address"/>
                        </div>
                    </n-card>
                </div>
            </div>

            <!-- Educational Background -->
            <n-card size="small" title="Educational Background">
                <template #header-extra>
                    <n-button @click="modalEducation = true" type="info">Add Education</n-button>
                </template>
                <div v-if="resident.educations.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(e, i) in resident.educations" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <profile-description class="w-40" :title="e.level_str" description="Level"/>
                            <profile-description class="w-40" :title="e.course" description="Program / Course"/>
                            <profile-description class="flex-1" :title="e.school_name" description="School Name"/>
                            <profile-description class="flex-1" :title="e.address" description="School Address"/>
                            <profile-description class="w-40" :title="moment(e.graduated_at).format('MMMM YYYY')" description="Year Graduated"/>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalEducationEdit = true, editEducationData = e">Edit</n-button>
                                    <n-button @click="deleteInfo(e.id, 'educations')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No educational background found.">
                    <template #extra>
                        <n-button @click="modalEducation = true">Add Educational Background</n-button>
                    </template>
                </n-empty>
            </n-card>

            <!-- Family Background -->
            <n-card size="small" title="Family Background">
                <div class="flex flex-col gap-4">
                    <div v-for="(f, i) in ['father','mother','spouse']" :key="i" class="flex flex-row gap-4">
                        <profile-description class="flex-1" :title="resident[f]" :description="`${f}'s Name`"/>
                        <div>
                            <n-button @click="modalFamily = true ,modalFamilyData = resident[`${f}_name`], modalFamilyType = f">Edit</n-button>
                        </div>
                    </div>
                </div>

                <!-- Children -->
                <div class="flex flex-row gap-4 items-center mt-5 mb-2">
                    <div class="flex-1 font-medium text-lg">Children</div>
                    <div>
                        <n-button @click="modalChildren = true" type="info">Add Child</n-button>
                    </div>
                </div>
                <div v-if="resident.children.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(c, i) in resident.children" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <div class="flex-1">
                                <div class="flex flex-row gap-4">
                                    <profile-description class="flex-1" :title="c.fullname" description="Name"/>
                                    <profile-description class="flex-1" :title="moment(c.bday).format('LL')" description="Birthdate"/>
                                    <div class="flex-1">
                                        <div class="flex flex-row gap-4">
                                            <profile-description class="flex-1" :title="c.age" description="Age"/>
                                            <profile-description class="flex-1" :title="c.gender_str" description="Gender"/>
                                            <profile-description class="flex-1" :title="c.civil_status_str" description="Civil Status"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="c.is_student" class="flex flex-row gap-4 items-center mt-2">
                                    <div class="font-medium">Currently Studying</div>
                                    <profile-description class="w-40" :title="c.level_str" description="School Level"/>
                                    <profile-description class="flex-1" :title="c.school_name" description="School Name"/>
                                    <profile-description class="flex-1" :title="c.school_address_str" description="School Address"/>
                                </div>
                            </div>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalChildrenEdit = true, editChildrenData = c">Edit</n-button>
                                    <n-button @click="deleteInfo(c.id, 'children')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No children found.">
                    <template #extra>
                        <n-button @click="modalChildren = true">Add Child</n-button>
                    </template>
                </n-empty>
            </n-card>

            <!-- Siblings -->
            <n-card size="small" title="Siblings">
                <template #header-extra>
                    <n-button @click="modalSibling = true" type="info">Add Sibling</n-button>
                </template>
                <div v-if="resident.siblings.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(s, i) in resident.siblings" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <profile-description class="flex-1" :title="s.fullname" description="Name"/>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalSiblingEdit = true, editSiblingData = s">Edit</n-button>
                                    <n-button @click="deleteInfo(s.id, 'siblings')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No siblings found.">
                    <template #extra>
                        <n-button @click="modalSibling = true">Add Sibling</n-button>
                    </template>
                </n-empty>
            </n-card>

            <!-- Businesses -->
            <n-card size="small" title="Businesses">
                <template #header-extra>
                    <n-button @click="modalBusiness = true" type="info">Add Business</n-button>
                </template>
                <div v-if="resident.businesses.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(b, i) in resident.businesses" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <profile-description class="flex-1" :title="b.name" description="Business Name"/>
                            <profile-description class="flex-1" :title="b.address_str" description="Business Address"/>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalBusinessEdit = true, editBusinessData = b">Edit</n-button>
                                    <n-button @click="deleteInfo(b.id, 'businesses')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No business found.">
                    <template #extra>
                        <n-button @click="modalBusiness = true">Add Business</n-button>
                    </template>
                </n-empty>
            </n-card>

            <!-- Job History -->
            <n-card size="small" title="Work / Job History">
                <template #header-extra>
                    <n-button @click="modalJob = true" type="info">Add Job History</n-button>
                </template>
                <div v-if="resident.jobs.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(j, i) in resident.jobs" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <profile-description class="flex-1" :title="j.position" description="Job Title / Position"/>
                            <profile-description class="flex-1" :title="j.company_name" description="Company Name"/>
                            <profile-description class="flex-1" :title="j.date_range" description="Date Started - Date Ended"/>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalJobEdit = true, editJobData = j">Edit</n-button>
                                    <n-button @click="deleteInfo(j.id, 'jobs')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No work / job history found.">
                    <template #extra>
                        <n-button @click="modalJob = true">Add Work / Job History</n-button>
                    </template>
                </n-empty>
            </n-card>

            <!-- Assets -->
            <n-card size="small" title="Assets">
                <template #header-extra>
                    <n-button @click="modalAsset = true" type="info">Add Asset</n-button>
                </template>
                <div v-if="resident.assets.length >= 1" class="flex flex-col divide-y">
                    <div v-for="(a, i) in resident.assets" :key="i" class="py-3">
                        <div class="flex flex-row gap-4">
                            <profile-description class="w-40" :title="a.type_str" description="Asset Type"/>
                            <profile-description v-for="(d, di) in a.details" :key="di" class="flex-1" :title="d.value" :description="d.label"/>
                            <div>
                                <div class="flex flex-row gap-2">
                                    <n-button @click="modalAssetEdit = true, editAssetData = {id:a.id, type:a.type, ...a.descriptions}">Edit</n-button>
                                    <n-button @click="deleteInfo(a.id, 'assets')" type="error" title="Delete">&#x2716;</n-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <n-empty v-else description="No assets found.">
                    <template #extra>
                        <n-button @click="modalAsset = true">Add Asset</n-button>
                    </template>
                </n-empty>
            </n-card>
        </div>
    </content-layout-simple>

    <!-- Resident Modal -->
    <n-modal :mask-closable="false" v-model:show="modalResident" style="width: 800px;" title="Edit Resident" preset="card">
        <UpsertResident v-model="resident" @cancel="modalResident = false" @success="modalResident = false"/>
    </n-modal>

    <!-- Family Modal -->
    <n-modal :mask-closable="false" v-model:show="modalFamily" style="width: 600px;" :title="`Edit ${modalFamilyType}`" preset="card">
        <UpdateFamily v-model="modalFamilyData" :resident-id="resident.id" :type="modalFamilyType" @cancel="modalFamily = false" @success="setFamily"/>
    </n-modal>

    <!-- Resident Education Modal -->
    <n-modal :mask-closable="false" v-model:show="modalEducation" style="width: 600px;" title="Add Educational Background" preset="card">
        <UpsertEducation :resident-id="resident.id" @cancel="modalEducation = false" @success="setEducations"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalEducationEdit" style="width: 600px;" title="Edit Educational Background" preset="card">
        <UpsertEducation v-model="editEducationData" :resident-id="resident.id" @cancel="modalEducationEdit = false" @success="modalEducationEdit = false"/>
    </n-modal>

    <!-- Resident Children Modal -->
    <n-modal :mask-closable="false" v-model:show="modalChildren" style="width: 800px;" title="Add Child" preset="card">
        <UpsertChildren :resident-id="resident.id" @cancel="modalChildren = false" @success="setChildren"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalChildrenEdit" style="width: 800px;" title="Edit Child" preset="card">
        <UpsertChildren v-model="editChildrenData" :resident-id="resident.id" @cancel="modalChildrenEdit = false" @success="modalChildrenEdit = false"/>
    </n-modal>

    <!-- Resident Business -->
    <n-modal :mask-closable="false" v-model:show="modalBusiness" style="width: 600px;" title="Add Business" preset="card">
        <UpsertBusiness :resident-id="resident.id" @cancel="modalBusiness = false" @success="setBusiness"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalBusinessEdit" style="width: 600px;" title="Edit Business" preset="card">
        <UpsertBusiness v-model="editBusinessData" :resident-id="resident.id" @cancel="modalBusinessEdit = false" @success="modalBusinessEdit = false"/>
    </n-modal>

    <!-- Resident Job Modal -->
    <n-modal :mask-closable="false" v-model:show="modalJob" style="width: 600px;" title="Add Work / Job History" preset="card">
        <UpsertJob :resident-id="resident.id" @cancel="modalJob = false" @success="setJobs"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalJobEdit" style="width: 600px;" title="Edit Work / Job History" preset="card">
        <UpsertJob v-model="editJobData" :resident-id="resident.id" @cancel="modalJobEdit = false" @success="modalJobEdit = false"/>
    </n-modal>

    <!-- Resident Asset Modal -->
    <n-modal :mask-closable="false" v-model:show="modalAsset" style="width: 600px;" title="Add Asset" preset="card">
        <UpsertAsset :resident-id="resident.id" @cancel="modalAsset = false" @success="setAssets"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalAssetEdit" style="width: 600px;" title="Edit Asset" preset="card">
        <UpsertAsset v-model="editAssetData" :resident-id="resident.id" @cancel="modalAssetEdit = false" @success="setAsset"/>
    </n-modal>

    <!-- Resident Sibling Modal -->
    <n-modal :mask-closable="false" v-model:show="modalSibling" style="width: 600px;" title="Add Sibling" preset="card">
        <UpsertSibling :resident-id="resident.id" @cancel="modalSibling = false" @success="setSiblings"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalSiblingEdit" style="width: 600px;" title="Edit Sibling" preset="card">
        <UpsertSibling v-model="editSiblingData" :resident-id="resident.id" @cancel="modalSiblingEdit = false" @success="modalSiblingEdit = false"/>
    </n-modal>
</template>
<script>
import { useDialog } from 'naive-ui'
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import UpsertResident from '~/components/admin/forms/UpsertResident.vue'
import UpsertEducation from '~/components/admin/forms/UpsertEducation.vue'
import UpsertChildren from '~/components/admin/forms/UpsertChildren.vue'
import UpsertBusiness from '~/components/admin/forms/UpsertBusiness.vue'
import UpsertJob from '~/components/admin/forms/UpsertJob.vue'
import UpsertAsset from '~/components/admin/forms/UpsertAsset.vue'
import UpsertSibling from '~/components/admin/forms/UpsertSibling.vue'
import UpdateFamily from '~/components/admin/forms/UpdateFamily.vue'
import UpdatePhoto from '~/components/admin/forms/UpdatePhoto.vue'
import moment from 'moment'
export default {
    props: ['id'],
    components: {
        ContentLayoutSimple,
        UpsertResident,
        UpsertEducation,
        UpsertChildren,
        UpsertBusiness,
        UpsertJob,
        UpsertAsset,
        UpsertSibling,
        UpdateFamily,
        UpdatePhoto
    },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            moment,
            resident: {
                id: 0,
                educations: [],
                businesses: [],
                jobs: [],
                assets: [],
                children: [],
                siblings: []
            },
            loading: false,

            modalResident: false,

            modalFamily: false,
            modalFamilyData: {},
            modalFamilyType: 'father',

            modalEducation: false,
            modalEducationEdit: false,
            editEducationData: {},

            modalChildren: false,
            modalChildrenEdit: false,
            editChildrenData: {},

            modalBusiness: false,
            modalBusinessEdit: false,
            editBusinessData: {},

            modalJob: false,
            modalJobEdit: false,
            editJobData: {},

            modalAsset: false,
            modalAssetEdit: false,
            editAssetData: {},

            modalSibling: false,
            modalSiblingEdit: false,
            editSiblingData: {},
        }
    },
    async created() {
        this.loading = true
        const { data } = await window.$api.get(`/residents/${this.id}`)
        this.resident = data
        this.loading = false
    },
    methods: {
        setEducations(data) {
            this.modalEducation = false
            this.resident.educations = data
        },
        setChildren(data) {
            this.modalChildren = false
            this.resident.children = data
        },
        setJobs(data) {
            this.modalJob = false
            this.resident.jobs = data
        },
        setBusiness(data) {
            this.modalBusiness = false
            this.resident.businesses = data
        },
        setAssets(data) {
            this.modalAsset = false
            this.resident.assets = data
        },
        setSiblings(data) {
            this.modalSibling = false
            this.resident.siblings = data
        },
        setAsset(data) {
            const index = this.resident.assets.findIndex(el => data.id == el.id)
            this.resident.assets[index] = data
            this.modalAssetEdit = false
        },
        setFamily(data) {
            this.modalFamily = false
            this.resident = Object.assign(this.resident, data)
        },
        deleteInfo(id, type) {
            const dialog = this.dialog.warning({
                title: "Are you sure you want to delete this?",
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        await window.$api.post(`/${type}/${id}?_method=DELETE`)
                        this.resident[type] = this.resident[type].filter(el => el.id != id)

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    },
}
</script>