<template>
    <content-layout title="Residents"
        :loading="loading"
        :empty="residents.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <div class="flex flex-row gap-2">
                <n-button @click="printModal = true">Print Residents</n-button>
                <n-button type="info" @click="residentModal = true">Add Resident</n-button>
            </div>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(resident, i) in residents" :key="i">
                    <td>
                        <router-link :to="{name:'resident', params:{id:resident.id}}" class="block font-medium cursor-pointer hover:text-blue-500">
                            {{ resident.fullname }}
                        </router-link>
                    </td>
                    <td>{{ resident.address }}</td>
                    <td>{{ moment(resident.created_at).format('LLL') }}</td>
                    <td>{{ moment(resident.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <n-button tag="a" :href="`/print/residents/${resident.id}`" target="_blank" type="info" size="small">Print</n-button>
                    </th>
                </tr>
            </tbody>
        </n-table>
    </content-layout>

    <n-modal :mask-closable="false" v-model:show="residentModal" style="width: 800px;" title="Add Resident" preset="card">
        <UpsertResident @cancel="residentModal = false" @success="goToResident"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="printModal" style="width: 500px;" title="Print Residents" preset="card">
        <n-form @submit.prevent="submitPrint()">
            <div class="flex flex-col gap-4">
                <div><n-checkbox v-model:checked="printPerPurok">Print Per Purok</n-checkbox></div>
                <div><n-checkbox v-model:checked="printWithAssets">Print With Assets</n-checkbox></div>
            </div>

            <div class="flex flex-row gap-2 justify-end mt-4">
                <n-button @click="printModal = false">Cancel</n-button>
                <n-button @click="printModal = false" type="success" attr-type="submit">Continue</n-button>
            </div>
        </n-form>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertResident from '~/components/admin/forms/UpsertResident.vue'
import moment from 'moment'
export default {
    components: { ContentLayout, UpsertResident },
    data() {
        return {
            moment,
            residents: [],
            residentModal: false,
            pageCount: 1,
            loading: false,

            printModal: false,
            printWithAssets: false,
            printPerPurok: false,
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getResidents()
        },{ immediate: true })
    },
    methods: {
        async getResidents() {
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/residents`, { params })
            this.residents = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
        goToResident(data) {
            if (!data.id) return
            this.residentModal = false
            this.$router.push({name:'resident', params:{id:data.id}})
        },
        submitPrint() {
            const params = []
            if (this.printWithAssets) params.push('with_assets=1')
            if (this.printPerPurok) params.push('group_by_purok=1')
            window.open(`/print/residents?${params.join('&')}`, '_blank')
        }
    }
}
</script>