<template>
    <content-layout title="Summons"
        :loading="loading"
        :empty="summons.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <div class="flex flex-row gap-2">
                <n-button @click="modalSignatory =  true">Set Signatories</n-button>
                <n-button @click="modalSummon = true" type="info">Add Summon</n-button>
            </div>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th class="w-1 whitespace-nowrap">OR No.</th>
                    <th>Resident Name</th>
                    <th>Respondent Name</th>
                    <th>Case No.</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Date Schedule</th>
                    <th>Date Issued</th>
                    <!-- <th>Date Created</th> -->
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(summon, i) in summons" :key="i">
                    <td class="w-1 whitespace-nowrap">{{ summon.or_number }}</td>
                    <td>
                        <router-link :to="{name:'resident', params:{id:summon.resident.id}}" class="block font-medium cursor-pointer hover:text-blue-500">
                            {{ summon.resident.fullname }}
                        </router-link>
                    </td>
                    <td>{{ summon.respondent.fullname }}</td>
                    <td>{{ summon.case_number }}</td>
                    <td>{{ summon.reason }}</td>
                    <td>{{ numeral(summon.amount).format('0,0.00') }}</td>
                    <td>{{ moment(summon.scheduled_at).format('LLL') }}</td>
                    <td>{{ moment(summon.issued_at).format('LL') }}</td>
                    <!-- <td>{{ moment(summon.created_at).format('LLL') }}</td> -->
                    <td>{{ moment(summon.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <div class="flex flex-row gap-2">
                            <n-button tag="a" target="_blank" type="info" size="small"
                                :href="`/print/documents?id=${summon.id}&type=summon`"
                            >
                                Print
                            </n-button>
                            <n-button size="small" @click="modalSummonEdit = true, modalSummonData = summon">Edit</n-button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </n-table>

    </content-layout>
    
    <n-modal :mask-closable="false" v-model:show="modalSummon" style="width: 600px;" title="Add Summon" preset="card">
        <UpsertTransactionSummon @cancel="modalSummon = false" @success="modalSummon = false, getSummons()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalSummonEdit" style="width: 600px;" title="Edit Summon" preset="card">
        <UpsertTransactionSummon v-model="modalSummonData" @cancel="modalSummonEdit = false" @success="modalSummonEdit = false"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalSignatory" style="width: 500px;" title="Set Signatories" preset="card">
        <UpdateSignatory type="summon" @cancel="modalSignatory = false" @success="modalSignatory = false"/>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertTransactionSummon from '~/components/admin/forms/UpsertTransactionSummon.vue'
import UpdateSignatory from '~/components/admin/forms/UpdateSignatory.vue'
import moment from 'moment'
import numeral from 'numeral'
export default {
    components: { ContentLayout, UpsertTransactionSummon, UpdateSignatory },
    data() {
        return {
            moment,
            numeral,
            summons: [],
            loading: false,
            pageCount: 1,

            modalSummon: false,
            modalSummonEdit: false,
            modalSummonData: {},

            modalSignatory: false
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getSummons()
        },{ immediate: true })
    },
    methods: {
        async getSummons() {
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/transaction-summons`, { params })
            this.summons = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    },
}
</script>