<template>
    <content-layout title="Borrowed Materials"
        :loading="loading"
        :empty="materials.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <n-button @click="modalMaterial = true" type="info">Add Borrowed Material</n-button>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th class="w-1 whitespace-nowrap">OR No.</th>
                    <th>Resident Name</th>
                    <th>Material</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Date Issued</th>
                    <!-- <th>Date Created</th> -->
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(material, i) in materials" :key="i">
                    <td class="w-1 whitespace-nowrap">{{ material.or_number }}</td>
                    <td>
                        <router-link :to="{name:'resident', params:{id:material.resident.id}}" class="block font-medium cursor-pointer hover:text-blue-500">
                            {{ material.resident.fullname }}
                        </router-link>
                    </td>
                    <td>{{ `(${numeral(material.quantity).format('0,0')}) ${material.material}` }}</td>
                    <td>{{ numeral(material.amount).format('0,0.00') }}</td>
                    <td>
                        <n-tag v-if="material.status <= 1" type="success">Good</n-tag>
                        <n-tag v-else-if="material.status == 2" type="warning">Damaged</n-tag>
                        <n-tag v-else type="error">Lost</n-tag>
                    </td>
                    <td>
                        <n-tag :type="material.remarks.status">{{ material.remarks.message }}</n-tag>
                        <div class="text-sm italic mt-2">
                            Date Paid: {{ (moment(material.paid_at).isValid()) ? moment(material.paid_at).format('ll') : 'N/A' }} <br>
                            Date Returned: {{ (moment(material.returned_at).isValid()) ? moment(material.returned_at).format('ll') : 'N/A' }}
                        </div>
                    </td>
                    <td>{{ moment(material.issued_at).format('LL') }}</td>
                    <!-- <td>{{ moment(material.created_at).format('LLL') }}</td> -->
                    <td>{{ moment(material.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <n-button size="small" @click="modalMaterialEdit = true, modalMaterialData = material">Edit</n-button>
                    </th>
                </tr>
            </tbody>
        </n-table>

    </content-layout>
    
    <n-modal :mask-closable="false" v-model:show="modalMaterial" style="width: 600px;" title="Add Borrowed Material" preset="card">
        <UpsertTransactionMaterial @cancel="modalMaterial = false" @success="modalMaterial = false, getMaterials()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalMaterialEdit" style="width: 600px;" title="Edit Borrowed Material" preset="card">
        <UpsertTransactionMaterial v-model="modalMaterialData" @cancel="modalMaterialEdit = false" @success="modalMaterialEdit = false"/>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertTransactionMaterial from '~/components/admin/forms/UpsertTransactionMaterial.vue'
import moment from 'moment'
import numeral from 'numeral'
export default {
    components: { ContentLayout, UpsertTransactionMaterial },
    data() {
        return {
            moment,
            numeral,
            materials: [],
            loading: false,
            pageCount: 1,

            modalMaterial: false,
            modalMaterialEdit: false,
            modalMaterialData: {},
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getMaterials()
        },{ immediate: true })
    },
    methods: {
        async getMaterials() {
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/transaction-materials`, { params })
            this.materials = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    },
}
</script>