<template>
    <content-layout :title="transactionName"
        :loading="loading"
        :empty="transactions.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <div class="flex flex-row gap-2">
                <n-button v-if="type >= 2" @click="modalSignatory =  true">Set Signatories</n-button>
                <n-button @click="modalTransaction = true" type="info">Add {{ transactionName }}</n-button>
            </div>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th class="w-1 whitespace-nowrap">OR No.</th>
                    <th>Resident Name</th>
                    <th v-if="isBusiness">Resident Business</th>
                    <th v-if="isAsset">Resident Asset</th>
                    <th v-if="isAsset">Purpose</th>
                    <th>CTC No.</th>
                    <th>Amount</th>
                    <th>Date Issued</th>
                    <!-- <th>Date Created</th> -->
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(transaction, i) in transactions" :key="i">
                    <td class="w-1 whitespace-nowrap">{{ transaction.or_number }}</td>
                    <td>
                        <router-link :to="{name:'resident', params:{id:transaction.resident.id}}" class="block font-medium cursor-pointer hover:text-blue-500">
                            {{ transaction.resident.fullname }}
                        </router-link>
                    </td>

                    <td v-if="isBusiness && transaction.resident_business">{{ transaction.resident_business.name }}</td>

                    <template v-if="isAsset && transaction.resident_asset">
                        <td>{{ transaction.resident_asset.details_str }}</td>
                        <td>{{ transaction.purpose }}</td>
                    </template>

                    <td>{{ transaction.ctc_number }}</td>
                    <td>{{ numeral(transaction.amount).format('0,0.00') }}</td>
                    <td>{{ moment(transaction.issued_at).format('LL') }}</td>
                    <!-- <td>{{ moment(transaction.created_at).format('LLL') }}</td> -->
                    <td>{{ moment(transaction.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <div class="flex flex-row gap-2">
                            <n-button v-if="type >= 2"
                                tag="a" target="_blank" type="info" size="small"
                                :href="`/print/documents?id=${transaction.id}&type=document`"
                            >
                                Print
                            </n-button>
                            <n-button size="small" @click="modalTransactionEdit = true, modalTransactionData = transaction">Edit</n-button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </n-table>

    </content-layout>
    
    <n-modal :mask-closable="false" v-model:show="modalTransaction" style="width: 600px;" :title="`Add ${transactionName}`" preset="card">
        <UpsertTransactionDocument :type="type" @cancel="modalTransaction = false" @success="modalTransaction = false, getTransactions()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalTransactionEdit" style="width: 600px;" :title="`Edit ${transactionName}`" preset="card">
        <UpsertTransactionDocument v-model="modalTransactionData" :type="type" @cancel="modalTransactionEdit = false" @success="modalTransactionEdit = false"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalSignatory" style="width: 500px;" title="Set Signatories" preset="card">
        <UpdateSignatory :type="`document_${type}`" @cancel="modalSignatory = false" @success="modalSignatory = false"/>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertTransactionDocument from '~/components/admin/forms/UpsertTransactionDocument.vue'
import UpdateSignatory from '~/components/admin/forms/UpdateSignatory.vue'
import moment from 'moment'
import numeral from 'numeral'
export default {
    props: ['type'],
    components: { ContentLayout, UpsertTransactionDocument, UpdateSignatory },
    data() {
        return {
            moment,
            numeral,
            transactions: [],
            loading: false,
            pageCount: 1,

            modalTransaction: false,
            modalTransactionEdit: false,
            modalTransactionData: {},

            modalSignatory: false
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getTransactions()
        },{ immediate: true })
    },
    methods: {
        async getTransactions() {
            await this.type
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/transaction-documents?type=${this.type}`, { params })
            this.transactions = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    },
    computed: {
        transactionName() {
            return window.$documentTypes[this.type]
        },
        isBusiness() {
            return [5,6].includes(Number(this.type))
        },
        isAsset() {
            return this.type == 8
        }
    }
}
</script>