<template>
    <n-config-provider :theme-overrides="themeOverrides">
        <n-message-provider>
            <n-dialog-provider>
                <router-view></router-view>
                <NaiveMessage />
            </n-dialog-provider>
        </n-message-provider>
    </n-config-provider>
</template>
<script>
import NaiveMessage from '~/components/utils/NaiveMessage.vue'
import { NConfigProvider } from 'naive-ui'
export default {
    components: { NaiveMessage, NConfigProvider },
    setup() {
        window.$formFeebacks = (errors) => {
            const message = {}
            const status = {}
            Object.keys(errors).forEach(e => {
                if (errors[e]) {
                    status[e] = 'error'
                    message[e] = errors[e].join('\n')
                }
            })
            return { message, status }
        }
    },
    data() {
        return {
            themeOverrides: {
                Menu: {
                    itemHeight: '35px'
                }
            }
        }
    }
}
</script>