<template>
    <n-layout>
        <n-layout-header v-if="!hideHeader" style="background:transparent">
            <div class="flex flex-row gap-2 items-center">
                <div><slot name="header-left"/></div>
                <div class="flex-1 text-lg font-medium">{{ title }}</div>
                <div><slot name="header-right"/></div>
            </div>
        </n-layout-header>
        <n-layout-content class="mt-4" style="background:transparent">
            <div class="flex flex-col gap-5">
                <slot name="extra"/>
                <div>
                    <n-spin :show="loading">
                        <div v-if="!empty">
                            <slot></slot>
                        </div>
                        <n-empty v-else :description="`No ${desc} found.`"/>
                    </n-spin>
                </div>
            </div>
            <br><br>
        </n-layout-content>
    </n-layout>
</template>
<script>
export default {
    props: {
        title: {type:String, default:'Data'},
        loading: {type:Boolean, default:false},
        empty: {type:Boolean, default:false},
        hideHeader: {type:Boolean, default:false},
    },
    computed: {
        desc() {
            return this.title.toLowerCase()
        },
    }
}
</script>