<template>
    <n-layout>
        <n-layout-header v-if="!hideHeader">
            <div class="flex flex-row gap-2 items-center">
                <div class="flex-1 text-lg font-medium">{{ title }}</div>
                <div><slot name="header-right"/></div>
            </div>
        </n-layout-header>
        <n-layout-content class="mt-4">
            <div class="flex flex-col gap-5">
                <slot name="extra"/>

                <div v-if="hasSearch || hasSelectAddress" class="flex flex-col md:flex-row md:justify-between gap-4">
                    <div v-if="hasSearch"><n-input v-model:value="search" :placeholder="searchPlaceholder" clearable/></div>
                    <!-- <div v-if="hasSelectAddress"><SelectAddress v-model="address" :show-label="false"/></div> -->
                </div>

                <div>
                    <n-spin :show="loading">
                        <div v-if="!empty">
                            <slot></slot>
                            <n-pagination v-if="hasPagination" class="mt-5" v-model:page="page" :page-count="pageCount"/>
                        </div>
                        <n-empty v-else :description="`No ${desc} found.`"/>
                    </n-spin>
                </div>
            </div>
            <br><br>
        </n-layout-content>
    </n-layout>
</template>
<script>
// import SelectAddress from '~/components/utils/SelectAddress.vue'
export default {
    props: {
        title: {type:String, default:'Data'},
        pageCount: Number,
        loading: {type:Boolean, default:false},
        empty: {type:Boolean, default:false},
        hasSearch: {type:Boolean, default:true},
        // hasSelectAddress: {type:Boolean, default:true},
        hasPagination: {type:Boolean, default:true},
        hideHeader: {type:Boolean, default:false},
        searchPlaceholder: {type:String, default:"Search resident name"}
    },
    // components: { SelectAddress },
    methods: {
        pushQuery(query) {
            this.$router.push({ query:Object.assign({}, this.$route.query, query) })
        }
    },
    computed: {
        desc() {
            return this.title.toLowerCase()
        },
        search: {
            get() {
                const { search } = this.$route.query
                return search
            },
            set(search) {
                this.pushQuery({page:1, search})
            }
        },
        address: {
            get() {
                return {...this.$route.query}
            },
            set(val) {
                this.pushQuery({page:1, ...val})
            }
        },
        page: {
            get() {
                const { page } = this.$route.query
                return !page ? 1: Number(page)
            },
            set(page) {
                this.pushQuery({page})
            }
        }
    }
}
</script>