<template></template>
<script>
import { h } from 'vue'
import { NAlert, useMessage } from 'naive-ui'
export default {
    setup() {
        const renderMessage = (props, title) => {
            const { type } = props
            return h(NAlert, {
                onClose: props.onClose,
                type: type === "loading" ? "default" : type,
                title: title,
                style: {
                    boxShadow: "var(--n-box-shadow)",
                    maxWidth: "calc(100vw - 32px)",
                    width: "480px"
                }
            }, {
                default: () => props.content
            })
        }
        const { error } = useMessage()
        window.$message = useMessage()
        window.$messageAlert = {
            error(msg, title) {
                error(msg, {
                    render(props) {
                        return renderMessage(props, title)
                    },
                    closable: true,
                })
            }
        }
    }
}
</script>