<template>
    <div>
        <div class="border-b border-gray-300 border-solid text-lg">{{ title }}</div>
        <div class="text-gray-500 capitalize">{{ description }}</div>
    </div>
</template>
<script>
export default {
    props: {
        title: [String, Number],
        description: String,
    }
}
</script>