<template>
    <div class="flex flex-row gap-1 w-full">
        <div class="flex-1">
            <n-select v-model:value="month" :options="months" placeholder="Input month" />
        </div>
        <div v-if="!hideDay">
            <n-select v-model:value="day" :options="days" placeholder="Input day" />
        </div>
        <div class="flex-1">
            <n-select v-model:value="year" :options="years" placeholder="Input year" />
        </div>
    </div>
</template>
<script>
import moment from 'moment'
export default {
    props: {
        modelValue: String,
        label: String,
        hideDay: {type:Boolean, default:false}
    },
    methods: {
        setDateIfEmpty() {
            if (this.modelValue) return
            this.$emit('update:modelValue', moment().format('YYYY-MM-DD'))
        }
    },
    computed: {
        month: {
            get() {
                const date = moment(this.modelValue)
                return (date.isValid()) ? date.month() : 0
            },
            set(val) {
                this.setDateIfEmpty()

                const date = moment(this.modelValue).set('month', val).format('YYYY-MM-DD')
                this.$emit('update:modelValue', date)
            }
        },
        months() {
            const months = ['January','February','March','April','May','June','July','August','September','October','November','December']
            return months.map((e,i) => {
                return {
                    label: e,
                    value: i
                }
            })
        },

        day: {
            get() {
                const date = moment(this.modelValue)
                return (date.isValid()) ? date.date() : 0
            },
            set(val) {
                this.setDateIfEmpty()

                const date = moment(this.modelValue).set('date', val).format('YYYY-MM-DD')
                this.$emit('update:modelValue', date)
            }
        },
        days() {
            var days = []
            for (let index = 1; index <= 31; index++) {
                days.push({
                    label: index,
                    value: index,
                })
            }
            return days
        },

        year: {
            get() {
                this.setDateIfEmpty()

                const date = moment(this.modelValue)
                return (date.isValid()) ? date.year() : 0
            },
            set(val) {
                const date = moment(this.modelValue).set('year', val).format('YYYY-MM-DD')
                this.$emit('update:modelValue', date)
            }
        },
        years() {
            var years = []
            for (let index = 1912; index <= moment().year(); index++) {
                years.push({
                    label: index,
                    value: index
                })
            }
            return years.reverse()
        }
    }
}
</script>