<template>
    <div class="text-center">
        <div v-if="emptyPhoto" class="w-52 h-52 bg-gray-300 flex flex-row justify-center items-center">
            <div class="text-white">No Photo</div>
        </div>
        <img v-else :src="`/images/profiles/${modelValue}`" alt="Profile Photo" class="w-52"/>

        <div class="mt-2">
            <n-button v-if="emptyPhoto" @click="modal = true">Add Photo</n-button>
            <n-button v-else type="info" @click="modal = true">Change Photo</n-button>
        </div>
    </div>
    <input type="file" ref="inputPhoto" class="hidden" @change="previewUploadedPhoto">

    <n-modal v-model:show="modal" style="width: 600px;" title="Upload Photo" preset="card">
        <div>
            <Cropper ref="cropper" :src="preview" class="h-80 bg-black" :stencil-props="{ aspectRatio: 10/10 }" />
        </div>
        <div class="text-center mt-2">
            <n-button @click="$refs.inputPhoto.click()">Change Photo</n-button>
        </div>
        <div class="flex flex-row gap-2 justify-end mt-4">
            <n-button :disabled="loading" @click="modal = false">Cancel</n-button>
            <n-button :disabled="loading" :loading="loading" type="success" @click="submitPhoto()">Submit</n-button>
        </div>
    </n-modal>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import axios from 'axios'
export default {
    props: {
        modelValue: [String, Number],
        residentId: {type:[String, Number], required:true}
    },
    components: { Cropper },
    data() {
        return {
            modal: false,
            loading: false,
            preview: null,
            cropped: null,
            photoExists: false,
        }
    },
    methods: {
        previewUploadedPhoto(e){
            const image = e.target.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(image)
            reader.onload = e => {
                this.preview = e.target.result
            }
        },
        async submitPhoto() {
            this.loading = true
            const cropper = this.$refs.cropper.getResult()
            const photo = cropper.canvas.toDataURL()
            try {
                const { data } = await window.$api.post(`/resident-photo/${this.residentId}`, { photo })
                this.modal = false
                this.$emit('update:modelValue', data)

            } catch (e) {
                const { data } = e.response
                window.$message.error(String(data.message));
            }
            this.loading = false
        },
        async checkPhoto() {
            if (!this.modelValue || this.modelValue == '') return false

            try {
                await axios.get(`/images/profiles/${this.modelValue}`)
                this.photoExists = true
            } catch (e) {
                this.photoExists = false
            }
        }
    },
    computed: {
        emptyPhoto() {
            return (!this.modelValue || this.modelValue == '' || !this.photoExists) ? true : false
        }
    },
    watch: {
        modal(val) {
            if (val) this.$refs.inputPhoto.click()
        },
        modelValue() {
            this.checkPhoto()
        }
    }
}
</script>