<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Resident" path="resident_id" :feedback="formFeedback.message.resident_id" :validation-status="formFeedback.status.resident_id">
            <SearchResident v-model="formValues.resident_id" :resident="modelValue.resident"/>
        </n-form-item>

        <div class="mt-2">
            <n-checkbox v-model:checked="otherMaterial">Check if other materials</n-checkbox>
        </div>
        <n-form-item v-if="otherMaterial" label="Material" path="material" :feedback="formFeedback.message.material" :validation-status="formFeedback.status.material">
            <n-input v-model:value="formValues.material" placeholder="Input material" @update:value="formErrors.material = undefined" />
        </n-form-item>
        <n-form-item v-else label="Material" path="material" :feedback="formFeedback.message.material" :validation-status="formFeedback.status.material">
            <n-select v-model:value="formValues.material" placeholder="Input material" filterable :options="materials" @update:value="formErrors.material = undefined" />
        </n-form-item>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Status" path="status" :feedback="formFeedback.message.status" :validation-status="formFeedback.status.status">
                <n-select v-model:value="formValues.status" placeholder="Input status" :options="statuses" @update:value="formErrors.status = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Quantity" path="quantity" :feedback="formFeedback.message.quantity" :validation-status="formFeedback.status.quantity">
                <n-input-number style="width:100%" v-model:value="formValues.quantity" placeholder="Input quantity" :min="1" @update:value="formErrors.quantity = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Amount" path="amount" :feedback="formFeedback.message.amount" :validation-status="formFeedback.status.amount">
                <n-input-number style="width:100%" v-model:value="formValues.amount" placeholder="Input amount" @update:value="formErrors.amount = undefined" />
            </n-form-item>
        </div>

        <div>
            <div class="mb-4">
                <n-checkbox v-model:checked="isPaid">Material Paid?</n-checkbox>
            </div>
            <n-form-item v-if="isPaid" label="Date Paid" path="paid_at" :feedback="formFeedback.message.paid_at" :validation-status="formFeedback.status.paid_at">
                <SelectDate v-model="formValues.paid_at"/>
            </n-form-item>
        </div>
        <div>
            <div class="mb-4">
                <n-checkbox v-model:checked="isReturned">Material Returned?</n-checkbox>
            </div>
            <n-form-item v-if="isReturned" label="Date Returned" path="returned_at" :feedback="formFeedback.message.returned_at" :validation-status="formFeedback.status.returned_at">
                <SelectDate v-model="formValues.returned_at"/>
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="OR Number" path="or_number" :feedback="formFeedback.message.or_number" :validation-status="formFeedback.status.or_number">
                <n-input v-model:value="formValues.or_number" placeholder="Input or number" @update:value="formErrors.or_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Date Issued" path="issued_at" :feedback="formFeedback.message.issued_at" :validation-status="formFeedback.status.issued_at">
                <SelectDate v-model="formValues.issued_at"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import SearchResident from '~/components/utils/SearchResident.vue'
import Materials from '~/constants/materials.js'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                amount: 0,
            }
        },
    },
    components: { SelectDate, SearchResident },
    created() {
        console.log()
    },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                resident_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input resident',
                    trigger: ['input', 'change', 'blur'],
                },
                material: {
                    required: true,
                    message: 'Please input material',
                    trigger: ['input', 'blur'],
                },
                status: {
                    type: 'number',
                    required: true,
                    message: 'Please input status',
                    trigger: ['input', 'change', 'blur'],
                },
                quantity: {
                    type: 'number',
                    required: true,
                    message: 'Please input quantity',
                    trigger: ['input', 'change', 'blur'],
                },
                amount: {
                    type: 'number',
                    required: true,
                    message: 'Please input amount',
                    trigger: ['input', 'blur'],
                },
                returned_at: {
                    required: true,
                    message: 'Please input date returned',
                    trigger: ['input', 'blur'],
                },
                paid_at: {
                    required: true,
                    message: 'Please input date paid',
                    trigger: ['input', 'blur'],
                },
                or_number: {
                    required: true,
                    message: 'Please input or number',
                    trigger: ['input', 'blur'],
                },
                issued_at: {
                    required: true,
                    message: 'Please input date issued',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},

            statuses: [
                {label:'Good', value:1},
                {label:'Damaged', value:2},
                {label:'Lost', value:3},
            ],
            isReturned: (!this.modelValue.returned_at) ? false : true,
            isPaid: (!this.modelValue.paid_at) ? false : true,
            otherMaterial: (!this.modelValue.material) ? false : !Materials.includes(this.modelValue.material)
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            const form = {...this.formValues}
            if (!this.isReturned) form.returned_at = null
            if (!this.isPaid) form.paid_at = null

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/transaction-materials`, form)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/transaction-materials/${this.modelValue.id}?_method=PUT`, form)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        },
        materials() {
            const materials = [...Materials]
            return materials.map(e => {
                return {
                    label: e,
                    value: e
                }
            })
        }
    }
}
</script>