<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
                <n-input v-model:value="formValues.fname" placeholder="Input first name" @update:value="formErrors.fname = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
                <n-input v-model:value="formValues.mname" placeholder="Input middle name" @update:value="formErrors.mname = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
                <n-input v-model:value="formValues.lname" placeholder="Input last name" @update:value="formErrors.lname = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Gender" path="gender" :feedback="formFeedback.message.gender" :validation-status="formFeedback.status.gender">
                <n-select v-model:value="formValues.gender" placeholder="Input gender" :options="genders" @update:value="formErrors.gender = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Civil Status" path="civil_status" :feedback="formFeedback.message.civil_status" :validation-status="formFeedback.status.civil_status">
                <n-select v-model:value="formValues.civil_status" placeholder="Input civil status" :options="civilStatuses" @update:value="formErrors.civil_status = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Birthdate" path="bday" :feedback="formFeedback.message.bday" :validation-status="formFeedback.status.bday">
                <SelectDate v-model="formValues.bday"/>
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Years Resided" path="years_resided" :feedback="formFeedback.message.years_resided" :validation-status="formFeedback.status.years_resided">
                <n-input-number style="width:100%" v-model:value="formValues.years_resided" placeholder="Input years" @update:value="formErrors.years_resided = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Home Number" path="home_number" :feedback="formFeedback.message.home_number" :validation-status="formFeedback.status.home_number">
                <n-input v-model:value="formValues.home_number" placeholder="Input home number" @update:value="formErrors.home_number = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Purok" path="purok" :feedback="formFeedback.message.purok" :validation-status="formFeedback.status.purok">
                <n-input-number style="width:100%" :min="1" v-model:value="formValues.purok" placeholder="Input purok" @update:value="formErrors.purok = undefined" />
            </n-form-item>
        </div>

        <div>
            <SelectAddress v-model="formValues"/>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">
                <span v-if="!modelValue.id">Continue</span>
                <span v-else>Submit</span>
            </n-button>
        </div>
    </n-form>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'
import SelectDate from '~/components/utils/SelectDate.vue'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

const numberRule = (label) => {
    return {
        type: 'number',
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur', 'change']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                bday: '1989-01-01',
                province: 'QUIRINO',
                municipality: 'MADDELA',
                barangay: 'SAN BERNABE',
            }
        }
    },
    components: { SelectAddress, SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                fname: stringRule('first name'),
                mname: stringRule('middle name'),
                lname: stringRule('last name'),
                gender: numberRule('gender'),
                bday: stringRule('birthdate'),
                civil_status: numberRule('civil status'),
                years_resided: numberRule('years'),
                home_number: stringRule('home number'),
                purok: numberRule('purok'),
                province: stringRule('province'),
                municipality: stringRule('municipality'),
                barangay: stringRule('barangay'),
            },
            formErrors: {},

            genders: [
                {label:'Male', value:1},
                {label:'Female', value:2},
            ],
            civilStatuses: [
                {label:'Single', value:1},
                {label:'Married', value:2},
                {label:'Lived In', value:3},
                {label:'Widowed', value:4},
            ],
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/residents/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>