<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Resident" path="resident_id" :feedback="formFeedback.message.resident_id" :validation-status="formFeedback.status.resident_id">
            <SearchResident v-model="formValues.resident_id" :resident="modelValue.resident"/>
        </n-form-item>

        <!-- Business Clearance and Certificate -->
        <template v-if="isBusiness">
            <n-form-item label="Resident's Business" path="resident_business_id" :feedback="formFeedback.message.resident_business_id" :validation-status="formFeedback.status.resident_business_id">
                <n-select v-model:value="formValues.resident_business_id" :options="businesses" placeholder="Input business" @update:value="formErrors.resident_business_id = undefined" />
            </n-form-item>
        </template>

        <!-- Certification -->
        <template v-if="isAsset">
            <n-form-item label="Resident's Asset" path="resident_asset_id" :feedback="formFeedback.message.resident_asset_id" :validation-status="formFeedback.status.resident_asset_id">
                <n-select v-model:value="formValues.resident_asset_id" :options="assets" placeholder="Input asset" @update:value="formErrors.resident_asset_id = undefined" />
            </n-form-item>

            <n-form-item label="Purpose" path="purpose" :feedback="formFeedback.message.purpose" :validation-status="formFeedback.status.purpose">
                <n-input type="textarea" v-model:value="formValues.purpose" placeholder="Input purpose" @update:value="formErrors.purpose = undefined" />
            </n-form-item>
        </template>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="CTC Number" path="ctc_number" :feedback="formFeedback.message.ctc_number" :validation-status="formFeedback.status.ctc_number">
                <n-input v-model:value="formValues.ctc_number" placeholder="Input ctc number" @update:value="formErrors.ctc_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Amount" path="amount" :feedback="formFeedback.message.amount" :validation-status="formFeedback.status.amount">
                <n-input-number style="width:100%" v-model:value="formValues.amount" placeholder="Input amount" :min="1" @update:value="formErrors.amount = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="OR Number" path="or_number" :feedback="formFeedback.message.or_number" :validation-status="formFeedback.status.or_number">
                <n-input v-model:value="formValues.or_number" placeholder="Input or number" @update:value="formErrors.or_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Date Issued" path="issued_at" :feedback="formFeedback.message.issued_at" :validation-status="formFeedback.status.issued_at">
                <SelectDate v-model="formValues.issued_at"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import SearchResident from '~/components/utils/SearchResident.vue'
import moment from 'moment'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                issued_at: moment().format('YYYY-MM-DD')
            }
        },
        type: {type:[Number, String], required:true},
    },
    components: { SelectDate, SearchResident },
    data() {
        return {
            formDisabled: false,
            formValues: {
                ...this.modelValue,
                type: this.type
            },
            formRules: {
                resident_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input resident',
                    trigger: ['input', 'change', 'blur'],
                },
                ctc_number: {
                    required: true,
                    message: 'Please input ctc number',
                    trigger: ['input', 'blur'],
                },
                amount: {
                    type: 'number',
                    required: true,
                    message: 'Please input ctc number',
                    trigger: ['input', 'blur'],
                },
                issued_at: {
                    required: true,
                    message: 'Please input date issued',
                    trigger: ['input', 'blur'],
                },
                resident_business_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input business',
                    trigger: ['input', 'change', 'blur'],
                },
                resident_asset_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input asset',
                    trigger: ['input', 'change', 'blur'],
                },
                purpose: {
                    required: true,
                    message: 'Please input purpose',
                    trigger: ['input', 'blur'],
                },
                or_number: {
                    required: true,
                    message: 'Please input or number',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},

            businesses: [],
            assets: []
        }
    },
    created() {
        this.getResidentBusinesses()
        this.getResidentAssets()
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/transaction-documents`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/transaction-documents/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        // Get business
        async getResidentBusinesses() {
            const { resident_id } = this.formValues
            if (!resident_id || !this.isBusiness) return

            this.formDisabled = true
            const { data } = await window.$api.get(`/residents/${resident_id}/businesses`)
            this.businesses = data.map(el => {
                return {
                    label: el.name,
                    value: el.id
                }
            })
            this.formDisabled = false
        },
        // Get assets
        async getResidentAssets() {
            const { resident_id } = this.formValues
            if (!resident_id || !this.isAsset) return

            this.formDisabled = true
            const { data } = await window.$api.get(`/residents/${resident_id}/assets`)
            this.assets = data.map(el => {
                return {
                    label: `${el.type_str} (${el.details_str})`,
                    value: el.id,
                }
            })
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        },
        isBusiness() {
            return [5,6].includes(Number(this.type))
        },
        isAsset() {
            return this.type == 8
        }
    },
    watch: {
        'formValues.resident_id'() {
            this.getResidentBusinesses()
            this.getResidentAssets()
            this.formValues.resident_business_id = null
            this.formValues.resident_asset_id = null
        }
    }
}
</script>