<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Resident" path="resident_id" :feedback="formFeedback.message.resident_id" :validation-status="formFeedback.status.resident_id">
            <SearchResident v-model="formValues.resident_id" :resident="modelValue.resident"/>
        </n-form-item>

        <n-form-item label="Respondent" path="respondent_id" :feedback="formFeedback.message.respondent_id" :validation-status="formFeedback.status.respondent_id">
            <SearchResident v-model="formValues.respondent_id" :resident="modelValue.respondent"/>
        </n-form-item>

        <n-form-item label="Reason" path="reason" :feedback="formFeedback.message.reason" :validation-status="formFeedback.status.reason">
            <n-input type="textarea" v-model:value="formValues.reason" placeholder="Input reason" @update:value="formErrors.reason = undefined" />
        </n-form-item>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Date Schedule" path="scheduled_date" :feedback="formFeedback.message.scheduled_at" :validation-status="formFeedback.status.scheduled_at">
                <SelectDate v-model="formValues.scheduled_date"/>
            </n-form-item>
            <n-form-item label="Time Schedule" path="scheduled_time" :feedback="formFeedback.message.scheduled_time" :validation-status="formFeedback.status.scheduled_time">
                <n-time-picker v-model:value="formValues.scheduled_time" :hours="[8,9,10,11,12,13,14,15,16,17,18]" :minutes="5" :seconds="[0]" placeholder="Input time schedule" @update:value="formErrors.scheduled_time = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Case Number" path="case_number" :feedback="formFeedback.message.case_number" :validation-status="formFeedback.status.case_number">
                <n-input v-model:value="formValues.case_number" placeholder="Input case number" @update:value="formErrors.case_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Amount" path="amount" :feedback="formFeedback.message.amount" :validation-status="formFeedback.status.amount">
                <n-input-number style="width:100%" v-model:value="formValues.amount" placeholder="Input amount" :min="1" @update:value="formErrors.amount = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="OR Number" path="or_number" :feedback="formFeedback.message.or_number" :validation-status="formFeedback.status.or_number">
                <n-input v-model:value="formValues.or_number" placeholder="Input or number" @update:value="formErrors.or_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Date Issued" path="issued_at" :feedback="formFeedback.message.issued_at" :validation-status="formFeedback.status.issued_at">
                <SelectDate v-model="formValues.issued_at"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import SearchResident from '~/components/utils/SearchResident.vue'
import moment from 'moment'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                issued_at: moment().format('YYYY-MM-DD'),
            }
        },
    },
    components: { SelectDate, SearchResident },
    data() {
        return {
            formDisabled: false,
            formValues: {
                ...this.modelValue,
                scheduled_time: (this.modelValue.scheduled_at) ? +new Date(this.modelValue.scheduled_at).getTime() : null,
                scheduled_date: (this.modelValue.scheduled_at) ? this.modelValue.scheduled_at : moment().format('YYYY-MM-DD')
            },
            formRules: {
                resident_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input resident',
                    trigger: ['input', 'change', 'blur'],
                },
                respondent_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input respondent',
                    trigger: ['input', 'change', 'blur'],
                },
                case_number: {
                    required: true,
                    message: 'Please input case number',
                    trigger: ['input', 'blur'],
                },
                amount: {
                    type: 'number',
                    required: true,
                    message: 'Please input ctc number',
                    trigger: ['input', 'blur'],
                },
                issued_at: {
                    required: true,
                    message: 'Please input date issued',
                    trigger: ['input', 'blur'],
                },
                scheduled_date: {
                    required: true,
                    message: 'Please input date schedule',
                    trigger: ['input', 'blur'],
                },
                scheduled_time: {
                    type: 'number',
                    required: true,
                    message: 'Please input time schedule',
                    trigger: ['input', 'blur', 'change'],
                },
                reason: {
                    required: true,
                    message: 'Please input reason',
                    trigger: ['input', 'blur'],
                },
                or_number: {
                    required: true,
                    message: 'Please input or number',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            const time = moment(this.formValues.scheduled_time).format('HH:mm:00')
            const form = {
                ...this.formValues,
                scheduled_at: `${this.formValues.scheduled_date} ${time}`
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/transaction-summons`, form)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/transaction-summons/${this.modelValue.id}?_method=PUT`, form)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    },
    watch: {
        'formValues.respondent_id'() {
            this.formErrors.respondent_id = undefined
        }
    }
}
</script>