<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
            <n-input v-model:value="formValues.fname" placeholder="Input first name" @update:value="formErrors.fname = undefined" />
        </n-form-item>

        <n-form-item label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
            <n-input v-model:value="formValues.mname" placeholder="Input middle name" @update:value="formErrors.mname = undefined" />
        </n-form-item>

        <n-form-item label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
            <n-input v-model:value="formValues.lname" placeholder="Input last name" @update:value="formErrors.lname = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Continue</n-button>
        </div>
    </n-form>
</template>
<script>
const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {}
        },
        residentId: {type:[String,Number], required:true}
    },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                fname: stringRule('first name'),
                mname: stringRule('middle name'),
                lname: stringRule('last name'),
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/siblings`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/siblings/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>