<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Business Name" path="name" :feedback="formFeedback.message.name" :validation-status="formFeedback.status.name">
            <n-input v-model:value="formValues.name" placeholder="Input name" @update:value="formErrors.name = undefined" />
        </n-form-item>

        <div>
            <SelectAddress v-model="formValues.address" path-prefix="address."/>
        </div>

        <n-alert v-if="formErrors.has_transaction" title="Not Allowed" type="error" class="mb-4">
            <p v-for="p in formErrors.has_transaction" :key="p">{{ p }}</p>
        </n-alert>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                address: {
                    province: 'QUIRINO',
                    municipality: 'MADDELA',
                    barangay: 'SAN BERNABE',
                }
            }
        },
        residentId: {type:[String,Number], required:true}
    },
    components: { SelectAddress },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                name: {
                    required: true,
                    message: 'Please input name',
                    trigger: ['input', 'blur'],
                },
                barangay: {
                    required: true,
                    message: 'Please input barangay',
                    trigger: ['input', 'change', 'blur'],
                },
                municipality: {
                    required: true,
                    message: 'Please input municipality',
                    trigger: ['input', 'change', 'blur'],
                },
                province: {
                    required: true,
                    message: 'Please input province',
                    trigger: ['input', 'change', 'blur'],
                },
            },
            formErrors: {},

            levels: [
                {label:'Primary', value:1},
                {label:'Secondary', value:2},
                {label:'Tertiary', value:3},
                {label:'Vocational', value:4}
            ]
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/businesses`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/businesses/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>